<head>
    <link rel="stylesheet" type="text/css" href="./css/style.css"></link>
    <script src="https://use.fontawesome.com/f2c3eeb0bb.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" 
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" 
        crossorigin="anonymous"
    >
    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Mono|Lato|Assistant|Nunito" rel="stylesheet">

    <script src="./js/main.js" type="text/javascript"></script>
</head>

<body>
    <div>
        <button onclick="doLogin('admin', 'change-me')">First Time Login</button>

        <label>Login/Passwd:</label>
        <input id="login"></input>
        <input id="password"></input>

        <button onclick="doLogin()">Log In</button>
        <button onclick="doLogout()">Log Out <span id="userInfo"></span></button>

        <span id="database"></span>
    </div>

    <div>
        <label>Login/Passwd/Perms:</label>
        <input id="newLogin" ></input>
        <input id="newPassword" placeholder="password"></input>
        <input id="perms" class="narrow" value="SU"></input>

        <button onclick="createUser()">Create User</button>
        <button onclick="updateUser()">Update User (passwd,perms)</button>
    </div>

    <div>
        <button onclick="getUsers()">Get Users</button>
        <button onclick="getRoutes()">Get Routes</button>
    </div>

    <div id="usersList">
    </div>

    <div id="routes">
    </div>
</body>
